[submodule "tests/org.emftext.language.java.test/JaMoPP-BulkTest"]
	path = tests/org.emftext.language.java.test/JaMoPP-BulkTest
	url = https://github.com/DevBoost/JaMoPP-BulkTest
[submodule "tests/org.emftext.language.java.test/TeaStore"]
	path = tests/org.emftext.language.java.test/TeaStore
	url = https://github.com/DescartesResearch/TeaStore
[submodule "tests/org.emftext.language.java.test/teammates"]
	path = tests/org.emftext.language.java.test/teammates
	url = https://github.com/TEAMMATES/teammates
[submodule "tests/org.emftext.language.java.test/microservice"]
	path = tests/org.emftext.language.java.test/microservice
	url = https://github.com/ewolff/microservice
[submodule "tests/org.emftext.language.java.test/esda"]
	path = tests/org.emftext.language.java.test/esda
	url = https://github.com/kit-sdq/esda
