<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
 Copyright (c) 2006-2012
 Software Technology Group, Dresden University of Technology
 DevBoost GmbH, Berlin, Amtsgericht Charlottenburg, HRB 140026
 
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
   Software Technology Group - TU Dresden, Germany;
   DevBoost GmbH - Berlin, Germany
      - initial API and implementation
  
-->

<plugin>
	<extension id="org.emftext.language.java.resource.java.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.emftext.language.java.resource.java.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.java.resource.java.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.java.resource.java.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.java.resource.java.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.java.resource.java.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.java.resource.java.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.java.resource.java.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.java.resource.java.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.java.resource.java.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.java.resource.java.problem">
		</super>
	</extension>
	
	<extension-point id="org.emftext.language.java.resource.java.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.java.resource.java.mopp.JavaResourceFactoryDelegator" type="java">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.java.resource.java.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
