<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Palladio Supporting Eclipse Java Development Tools" sequenceNumber="1">
<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="org.apache.commons.collections" version="0.0.0"/>
			<unit id="org.slf4j.api" version="0.0.0"/>
			<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.core.feature.feature.group" version="0.0.0"/>
			<repository location="https://download.eclipse.org/releases/2021-12/202112081000/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="org.apache.commons.beanutils" version="0.0.0"/>
			<repository location="https://download.eclipse.org/tools/orbit/downloads/2021-12/"/>
		</location>
</locations>
</target>
