<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2006-2014
 Software Technology Group, Dresden University of Technology
 DevBoost GmbH, Berlin, Amtsgericht Charlottenburg, HRB 140026
 
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
   Software Technology Group - TU Dresden, Germany;
   DevBoost GmbH - Berlin, Germany
      - initial API and implementation
   Martin Armbruster
      - Extension for Java 7-13
  
-->

<plugin
      name="%pluginName"
      id="org.emftext.language.java.editor"
      version="1.0.0"
      provider-name="%providerName"
      class="org.emftext.language.java.annotations.presentation.JavaEditorPlugin$Implementation">

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources" export="true"/>
      <import plugin="org.emftext.language.java.edit" export="true"/>
      <import plugin="org.eclipse.emf.ecore.xmi" export="true"/>
      <import plugin="org.eclipse.emf.edit.ui" export="true"/>
      <import plugin="org.eclipse.ui.ide" export="true"/>
      <import plugin="org.emftext.commons.layout.edit" export="true"/>
   </requires>

   <runtime>
      <library name=".">
         <export name="*"/>
      </library>
   </runtime>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated java -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.emftext.language.java.annotations.presentation.AnnotationsModelWizardID"
            name="%_UI_AnnotationsModelWizard_label"
            class="org.emftext.language.java.annotations.presentation.AnnotationsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AnnotationsModelFile.gif">
         <description>%_UI_AnnotationsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated java -->
      <editor
            id="org.emftext.language.java.annotations.presentation.AnnotationsEditorID"
            name="%_UI_AnnotationsEditor_label"
            icon="icons/full/obj16/AnnotationsModelFile.gif"
            extensions="annotations"
            class="org.emftext.language.java.annotations.presentation.AnnotationsEditor"
            contributorClass="org.emftext.language.java.annotations.presentation.AnnotationsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated java -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.emftext.language.java.arrays.presentation.ArraysModelWizardID"
            name="%_UI_ArraysModelWizard_label"
            class="org.emftext.language.java.arrays.presentation.ArraysModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ArraysModelFile.gif">
         <description>%_UI_ArraysModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated java -->
      <editor
            id="org.emftext.language.java.arrays.presentation.ArraysEditorID"
            name="%_UI_ArraysEditor_label"
            icon="icons/full/obj16/ArraysModelFile.gif"
            extensions="arrays"
            class="org.emftext.language.java.arrays.presentation.ArraysEditor"
            contributorClass="org.emftext.language.java.arrays.presentation.ArraysActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated java -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.emftext.language.java.classifiers.presentation.ClassifiersModelWizardID"
            name="%_UI_ClassifiersModelWizard_label"
            class="org.emftext.language.java.classifiers.presentation.ClassifiersModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ClassifiersModelFile.gif">
         <description>%_UI_ClassifiersModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated java -->
      <editor
            id="org.emftext.language.java.classifiers.presentation.ClassifiersEditorID"
            name="%_UI_ClassifiersEditor_label"
            icon="icons/full/obj16/ClassifiersModelFile.gif"
            extensions="classifiers"
            class="org.emftext.language.java.classifiers.presentation.ClassifiersEditor"
            contributorClass="org.emftext.language.java.classifiers.presentation.ClassifiersActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated java -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.emftext.language.java.containers.presentation.ContainersModelWizardID"
            name="%_UI_ContainersModelWizard_label"
            class="org.emftext.language.java.containers.presentation.ContainersModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ContainersModelFile.gif">
         <description>%_UI_ContainersModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated java -->
      <editor
            id="org.emftext.language.java.containers.presentation.ContainersEditorID"
            name="%_UI_ContainersEditor_label"
            icon="icons/full/obj16/ContainersModelFile.gif"
            extensions="containers"
            class="org.emftext.language.java.containers.presentation.ContainersEditor"
            contributorClass="org.emftext.language.java.containers.presentation.ContainersActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated java -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.emftext.language.java.expressions.presentation.ExpressionsModelWizardID"
            name="%_UI_ExpressionsModelWizard_label"
            class="org.emftext.language.java.expressions.presentation.ExpressionsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ExpressionsModelFile.gif">
         <description>%_UI_ExpressionsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated java -->
      <editor
            id="org.emftext.language.java.expressions.presentation.ExpressionsEditorID"
            name="%_UI_ExpressionsEditor_label"
            icon="icons/full/obj16/ExpressionsModelFile.gif"
            extensions="expressions"
            class="org.emftext.language.java.expressions.presentation.ExpressionsEditor"
            contributorClass="org.emftext.language.java.expressions.presentation.ExpressionsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated java -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.emftext.language.java.generics.presentation.GenericsModelWizardID"
            name="%_UI_GenericsModelWizard_label"
            class="org.emftext.language.java.generics.presentation.GenericsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GenericsModelFile.gif">
         <description>%_UI_GenericsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated java -->
      <editor
            id="org.emftext.language.java.generics.presentation.GenericsEditorID"
            name="%_UI_GenericsEditor_label"
            icon="icons/full/obj16/GenericsModelFile.gif"
            extensions="generics"
            class="org.emftext.language.java.generics.presentation.GenericsEditor"
            contributorClass="org.emftext.language.java.generics.presentation.GenericsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated java -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.emftext.language.java.imports.presentation.ImportsModelWizardID"
            name="%_UI_ImportsModelWizard_label"
            class="org.emftext.language.java.imports.presentation.ImportsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ImportsModelFile.gif">
         <description>%_UI_ImportsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated java -->
      <editor
            id="org.emftext.language.java.imports.presentation.ImportsEditorID"
            name="%_UI_ImportsEditor_label"
            icon="icons/full/obj16/ImportsModelFile.gif"
            extensions="imports"
            class="org.emftext.language.java.imports.presentation.ImportsEditor"
            contributorClass="org.emftext.language.java.imports.presentation.ImportsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated java -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.emftext.language.java.instantiations.presentation.InstantiationsModelWizardID"
            name="%_UI_InstantiationsModelWizard_label"
            class="org.emftext.language.java.instantiations.presentation.InstantiationsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/InstantiationsModelFile.gif">
         <description>%_UI_InstantiationsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated java -->
      <editor
            id="org.emftext.language.java.instantiations.presentation.InstantiationsEditorID"
            name="%_UI_InstantiationsEditor_label"
            icon="icons/full/obj16/InstantiationsModelFile.gif"
            extensions="instantiations"
            class="org.emftext.language.java.instantiations.presentation.InstantiationsEditor"
            contributorClass="org.emftext.language.java.instantiations.presentation.InstantiationsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated java -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.emftext.language.java.literals.presentation.LiteralsModelWizardID"
            name="%_UI_LiteralsModelWizard_label"
            class="org.emftext.language.java.literals.presentation.LiteralsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/LiteralsModelFile.gif">
         <description>%_UI_LiteralsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated java -->
      <editor
            id="org.emftext.language.java.literals.presentation.LiteralsEditorID"
            name="%_UI_LiteralsEditor_label"
            icon="icons/full/obj16/LiteralsModelFile.gif"
            extensions="literals"
            class="org.emftext.language.java.literals.presentation.LiteralsEditor"
            contributorClass="org.emftext.language.java.literals.presentation.LiteralsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated java -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.emftext.language.java.members.presentation.MembersModelWizardID"
            name="%_UI_MembersModelWizard_label"
            class="org.emftext.language.java.members.presentation.MembersModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MembersModelFile.gif">
         <description>%_UI_MembersModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated java -->
      <editor
            id="org.emftext.language.java.members.presentation.MembersEditorID"
            name="%_UI_MembersEditor_label"
            icon="icons/full/obj16/MembersModelFile.gif"
            extensions="members"
            class="org.emftext.language.java.members.presentation.MembersEditor"
            contributorClass="org.emftext.language.java.members.presentation.MembersActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated java -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.emftext.language.java.modifiers.presentation.ModifiersModelWizardID"
            name="%_UI_ModifiersModelWizard_label"
            class="org.emftext.language.java.modifiers.presentation.ModifiersModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ModifiersModelFile.gif">
         <description>%_UI_ModifiersModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated java -->
      <editor
            id="org.emftext.language.java.modifiers.presentation.ModifiersEditorID"
            name="%_UI_ModifiersEditor_label"
            icon="icons/full/obj16/ModifiersModelFile.gif"
            extensions="modifiers"
            class="org.emftext.language.java.modifiers.presentation.ModifiersEditor"
            contributorClass="org.emftext.language.java.modifiers.presentation.ModifiersActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated java -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.emftext.language.java.operators.presentation.OperatorsModelWizardID"
            name="%_UI_OperatorsModelWizard_label"
            class="org.emftext.language.java.operators.presentation.OperatorsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OperatorsModelFile.gif">
         <description>%_UI_OperatorsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated java -->
      <editor
            id="org.emftext.language.java.operators.presentation.OperatorsEditorID"
            name="%_UI_OperatorsEditor_label"
            icon="icons/full/obj16/OperatorsModelFile.gif"
            extensions="operators"
            class="org.emftext.language.java.operators.presentation.OperatorsEditor"
            contributorClass="org.emftext.language.java.operators.presentation.OperatorsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated java -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.emftext.language.java.parameters.presentation.ParametersModelWizardID"
            name="%_UI_ParametersModelWizard_label"
            class="org.emftext.language.java.parameters.presentation.ParametersModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ParametersModelFile.gif">
         <description>%_UI_ParametersModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated java -->
      <editor
            id="org.emftext.language.java.parameters.presentation.ParametersEditorID"
            name="%_UI_ParametersEditor_label"
            icon="icons/full/obj16/ParametersModelFile.gif"
            extensions="parameters"
            class="org.emftext.language.java.parameters.presentation.ParametersEditor"
            contributorClass="org.emftext.language.java.parameters.presentation.ParametersActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated java -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.emftext.language.java.references.presentation.ReferencesModelWizardID"
            name="%_UI_ReferencesModelWizard_label"
            class="org.emftext.language.java.references.presentation.ReferencesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ReferencesModelFile.gif">
         <description>%_UI_ReferencesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated java -->
      <editor
            id="org.emftext.language.java.references.presentation.ReferencesEditorID"
            name="%_UI_ReferencesEditor_label"
            icon="icons/full/obj16/ReferencesModelFile.gif"
            extensions="references"
            class="org.emftext.language.java.references.presentation.ReferencesEditor"
            contributorClass="org.emftext.language.java.references.presentation.ReferencesActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated java -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.emftext.language.java.statements.presentation.StatementsModelWizardID"
            name="%_UI_StatementsModelWizard_label"
            class="org.emftext.language.java.statements.presentation.StatementsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/StatementsModelFile.gif">
         <description>%_UI_StatementsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated java -->
      <editor
            id="org.emftext.language.java.statements.presentation.StatementsEditorID"
            name="%_UI_StatementsEditor_label"
            icon="icons/full/obj16/StatementsModelFile.gif"
            extensions="statements"
            class="org.emftext.language.java.statements.presentation.StatementsEditor"
            contributorClass="org.emftext.language.java.statements.presentation.StatementsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated java -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.emftext.language.java.types.presentation.TypesModelWizardID"
            name="%_UI_TypesModelWizard_label"
            class="org.emftext.language.java.types.presentation.TypesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TypesModelFile.gif">
         <description>%_UI_TypesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated java -->
      <editor
            id="org.emftext.language.java.types.presentation.TypesEditorID"
            name="%_UI_TypesEditor_label"
            icon="icons/full/obj16/TypesModelFile.gif"
            extensions="types"
            class="org.emftext.language.java.types.presentation.TypesEditor"
            contributorClass="org.emftext.language.java.types.presentation.TypesActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated java -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.emftext.language.java.variables.presentation.VariablesModelWizardID"
            name="%_UI_VariablesModelWizard_label"
            class="org.emftext.language.java.variables.presentation.VariablesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/VariablesModelFile.gif">
         <description>%_UI_VariablesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated java -->
      <editor
            id="org.emftext.language.java.variables.presentation.VariablesEditorID"
            name="%_UI_VariablesEditor_label"
            icon="icons/full/obj16/VariablesModelFile.gif"
            extensions="variables"
            class="org.emftext.language.java.variables.presentation.VariablesEditor"
            contributorClass="org.emftext.language.java.variables.presentation.VariablesActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated java -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.emftext.language.java.modules.presentation.ModulesModelWizardID"
            name="%_UI_ModulesModelWizard_label"
            class="org.emftext.language.java.modules.presentation.ModulesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ModulesModelFile.gif">
         <description>%_UI_ModulesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated java -->
      <editor
            id="org.emftext.language.java.modules.presentation.ModulesEditorID"
            name="%_UI_ModulesEditor_label"
            icon="icons/full/obj16/ModulesModelFile.gif"
            extensions="modules"
            class="org.emftext.language.java.modules.presentation.ModulesEditor"
            contributorClass="org.emftext.language.java.modules.presentation.ModulesActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated java -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.emftext.commons.layout.presentation.LayoutModelWizardID"
            name="%_UI_LayoutModelWizard_label"
            class="org.emftext.commons.layout.presentation.LayoutModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/LayoutModelFile.gif">
         <description>%_UI_LayoutModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated java -->
      <editor
            id="org.emftext.commons.layout.presentation.LayoutEditorID"
            name="%_UI_LayoutEditor_label"
            icon="icons/full/obj16/LayoutModelFile.gif"
            extensions="layout"
            class="org.emftext.commons.layout.presentation.LayoutEditor"
            contributorClass="org.emftext.commons.layout.presentation.LayoutActionBarContributor">
      </editor>
   </extension>

</plugin>
